* {
  font-family: Inter, sans-serif;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #e7f6ff;
}

.wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 0 auto;
  margin: 50px auto;
}

#logo {
  width: 40px;
  height: 40px;
}

header {
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }

  .title__header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }

  .subtitle__header {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 400;
  }

  .cart__price {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 600;
  }
}

.content {
  padding: 40px;

  .content__title {
    font-size: 32px;
    font-weight: 700;
  }
}

#plus-btn {
  // width: 11px;
  // height: 11px;
}

.trainers__photo {
  // width: 130px;
  height: 150px;
  width: 100%;
}



.search__block {
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.drawer__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    flex:1;
    overflow: auto;
    margin-bottom: 40px;
  }

  .drawer__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }
}

.items {
  flex: 1;
}

.shoppingTotal {
  ul {
    display: block;
    margin-bottom: 40px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighen(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}
.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  p {
    font-size: 16px;
  }

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  b {
    font-size: 14px;
  }
}

.cartItem img {
  width: 70px;
  height: 70px;
}

img.remove-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
