body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #e7f6ff;
}

.wrapper {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin: 0 auto;
  margin: 50px auto;
}

#logo {
  width: 40px;
  height: 40px;
}

// .headerLeft
// .headerInfo
// .headerRight
// .content
